@use 'normalize' as *;
@use 'fonts' as *;
@use 'variables' as *;

body {
  font-family: var(--ff-main);
  font-size: var(--fs-main);
  font-weight: 500;
  line-height: var(--lh-main);
  background: var(--bg-primary);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-large-l);
  min-height: var(--app-height);
}

.container {
  width: 100%;
  max-width: var(--app-width);
  min-width: 350px;
  padding: 0 var(--gap-small-xl);
  color: var(--primary);
  margin: 5px auto 0;
}
