.footer {
  background: linear-gradient(0deg,
      rgb(178, 178, 178, 0.2),
      rgb(178, 178, 178, 0.2)),
    linear-gradient(0deg, #f4f4f4, #f4f4f4);
  font-weight: 500;
  line-height: var(--lh-percent-m);
  letter-spacing: 0.02em;

  &__content {
    position: relative;
    display: grid;
    grid-template-columns: 159px repeat(3, 1fr) 260px;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      'logo . . . phone'
      'logo . . . email'
      'nav nav nav nav nav'
      'info info info info info';
    max-width: var(--app-width);
    margin: 0 auto;
    padding: var(--gap-large-l) var(--gap-small-xl) 92px;
  }

  &__logo {
    grid-area: logo;
  }

  &__phone {
    grid-area: phone;
    font-size: var(--fs-xl);
    font-weight: 700;
    letter-spacing: normal;
    transition: 0.15s;
    margin-bottom: 6px;

    &:hover {
      color: #b4387a;
    }
  }

  &__email {
    grid-area: email;
    color: var(--info);
    transition: color var(--animation-main);

    &:hover {
      color: #b4387a;
    }
  }

  &__nav {
    grid-area: nav;
    margin-bottom: var(--gap-medium-m);
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-small-s) calc(var(--gap-medium-m) + 5px);
    padding: var(--gap-medium-m) 0 var(--gap-medium-m);
    border-bottom: 2px solid #fff;
  }

  &__nav-link {
    display: inline-block;
    line-height: var(--lh-percent-s);
    letter-spacing: var(--ls-main);
    transition:
      background-color var(--animation-main),
      color var(--animation-main);
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: var(--active);
    }

    &:active {
      color: var(--active);
    }
  }

  &__info {
    grid-area: info;
    color: var(--info);
  }
}

@media (max-width: 550px) {
  .footer {
    &__content {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        'logo'
        'phone'
        'email'
        'nav'
        'info';
      justify-items: center;
      text-align: center;
    }

    &__logo {
      margin-bottom: 16px;
    }

    &__nav {
      justify-content: center;
    }
  }
}